.questionCard,
.questionCard * {
  box-sizing: border-box;
}

.questionCard {
  background: #ffffff;
  border-radius: 1.25rem;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.questionCardHeader {
  display: flex;
  flex-direction: row;
  row-gap: 10px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.questionText {
  color: #4b527e;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: relative;
  flex: 1;
  word-break: break-word;
  overflow-wrap: break-word;
}

.questionActions {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.questionDetailSection {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.questionDetailCard {
  background: #e4f0ff;
  border-radius: 1.25rem;
  padding: 1.25rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.detailContentText {
  color: #4b527e;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: relative;
  align-self: stretch;
  flex: 1;
  word-break: break-word;
  overflow-wrap: break-word;
}

.detailContentText textarea {
  width: 100%;
  resize: none;
  overflow: hidden;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 600;
  color: #4b527e;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-break: break-word;
  overflow-wrap: break-word;
  min-height: 40px; /* 한 줄 높이 대략 설정 */
  line-break: anywhere;
  cursor: text;
}
