.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* 반투명 검정 배경 */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* 다른 요소 위에 표시 */
}

.popupContainer,
.popupContainer * {
  box-sizing: border-box;
}
.popupContainer {
  background: #ffffff;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 29px;
  align-items: center;
  justify-content: center;
  height: 450px;
  position: relative;
  overflow: hidden;
  width: 800px;
  height: 450px;
}
.iconBackground {
  background: #fee102;
  border-radius: 5.8125rem;
  padding: 46px 84px 46px 84px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 186px;
  height: 186px;
  position: relative;
}
.exclamationMarkGroup {
  flex-shrink: 0;
  width: 18px;
  height: 92px;
  position: static;
}
.exclamationTop {
  background: var(--netural-white, #ffffff);
  width: 18px;
  height: 57px;
  position: absolute;
  left: 84px;
  top: 47px;
}
.exclamationDot {
  background: var(--netural-white, #ffffff);
  width: 18px;
  height: 18px;
  position: absolute;
  left: 84px;
  top: 121px;
}
.textSection {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.defaultButton {
  background: var(--netural-white, #ffffff);
  border-radius: 1.25rem;
  border-style: solid;
  border-color: var(--font-color-50, #4b527e);
  border-width: 1px;
  padding: 11px 142px 11px 142px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 200px;
  height: 50px;
  position: relative;
}
.buttonText {
  color: var(--font-color-50, #4b527e);
  text-align: center;
  font-family: var(--body2-bold-20px-font-family, "Inter-Bold", sans-serif);
  font-size: var(--body2-bold-20px-font-size, 20px);
  line-height: var(--body2-bold-20px-line-height, 140%);
  letter-spacing: var(--body2-bold-20px-letter-spacing, -0.02em);
  font-weight: var(--body2-bold-20px-font-weight, 700);
  position: relative;
}

.popupTitle {
  color: var(--font-color-70, #252b5a);
  text-align: center;
  font-family: var(--subtitle1-bold-36px-font-family, "Inter-Bold", sans-serif);
  font-size: var(--subtitle1-bold-36px-font-size, 36px);
  line-height: var(--subtitle1-bold-36px-line-height, 140%);
  letter-spacing: var(--subtitle1-bold-36px-letter-spacing, -0.02em);
  font-weight: var(--subtitle1-bold-36px-font-weight, 700);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popupDescription {
  color: var(--font-color-70, #252b5a);
  text-align: center;
  font-family: var(--body2-bold-20px-font-family, "Inter-Bold", sans-serif);
  font-size: var(--body2-bold-20px-font-size, 20px);
  line-height: var(--body2-bold-20px-line-height, 140%);
  letter-spacing: var(--body2-bold-20px-letter-spacing, -0.02em);
  font-weight: var(--body2-bold-20px-font-weight, 700);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popupCountText {
  color: var(--font-color-70, #252b5a);
  text-align: center;
  font-family: var(--body2-bold-20px-font-family, "Inter-Bold", sans-serif);
  font-size: var(--body2-bold-20px-font-size, 20px);
  line-height: var(--body2-bold-20px-line-height, 140%);
  letter-spacing: var(--body2-bold-20px-letter-spacing, -0.02em);
  font-weight: var(--body2-bold-20px-font-weight, 700);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
