.div,
.div * {
  box-sizing: border-box;
}

.div {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );

  border-radius: 1.25rem;

  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  border-image-slice: 1;
  padding: 12.6875rem 2.8125rem;
  display: flex;
  border: none;
  flex-direction: column;
  gap: 0.875rem;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 38.4375rem;
  position: relative;
  box-shadow: inset 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(22.5px);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.375rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 29.25rem;
  position: relative;
  overflow: hidden;

  /* ✅ 스크롤 적용 */
  overflow-y: auto;
  padding-right: 5px;
  scrollbar-gutter: stable;
}

.content::-webkit-scrollbar {
  width: 0.625rem;
  height: 0.375rem;
}

.content::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 3.125rem;
  border: 2px solid transparent;
  background-clip: content-box;
}

.content::-webkit-scrollbar-track {
  background: transparent;
}

.text {
  background: #ffffff;

  border-radius: 0.625rem;

  padding: 0.4375rem 1.3125rem 0.4375rem 1.3125rem;

  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.textarea {
  color: #4b527e;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: relative;
  flex: 1;
}

.button {
  background: #ffffff;
  border-radius: 1.25rem;
  padding: 0.6875rem 1.5rem;
  border: none;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 12.5rem;
  height: 3.125rem;
  margin: 0 auto;
}

.viewall {
  white-space: nowrap;
  word-break: keep-all;
  color: #4b527e;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.25rem;
  line-height: 140%;
  font-weight: 700;
}
