.div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  width: 100%;
  height: 3.125rem;
  position: relative;
}

.title_section {
  padding: 0 10px 30px 10px;
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  flex-shrink: 0;
  position: absolute;
  right: 0;
  left: 0;
  top: 50%;
  translate: 0 -50%;
}

.vector {
  flex-shrink: 0;
  width: 1.5625rem;
  height: 1.5625rem;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}

.date,
.title {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 600;
  text-shadow: 0px 2px 10px rgba(89, 126, 219, 0.5);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.date {
  width: 8.5625rem;
}

.title {
  width: 7.125rem;
  cursor: pointer;
}

.headerLine {
  width: 100%;
  max-width: 85.125rem;
  height: 0.125rem;
  border: 2px solid #ffffff;
  opacity: 0.7;
  filter: blur(2px);
}
