/* .team-borad-box {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
} */

.Board_content {
  gap: 1.25rem;
  display: flex;
  flex-direction: column;
  border: 20px;
  width: 100%;
  height: 100%;
  position: relative;
}

.board_team_box {
  /* background-color: aqua; */
  display: flex;
  gap: 1.25rem;
  width: 100%;
  align-items: end;
  justify-content: start;
}

.board_team_name {
  color: #fff;

  /* font */
  text-shadow: 0px 2px 10px rgba(89, 126, 219, 0.5);

  /* Title2/Bold/48px */
  font-family: Inter;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.96px;
}

.board_team_number {
  color: #fff;
  padding-bottom: 10px;

  /* font */
  text-shadow: 0px 2px 10px rgba(89, 126, 219, 0.5);

  /* Body1/Bold/24px */
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.48px;
}

.board_team_notice {
  background-color: #fff;
  border-radius: 1.25rem;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  position: relative;
}

.board_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 11.4375rem);
  grid-template-rows: repeat(3, auto);
  align-content: stretch;
  width: 100%;
  max-height: calc((13.125rem * 2) + 3rem);
  padding: 20px;
  gap: 1rem;
  overflow: hidden;
  place-items: start;
  justify-content: start;
}

/* 890px 이하일 때 3열로 변경 */
@media (max-width: 63.75rem) {
  .board_wrapper {
    grid-template-columns: repeat(3, 11.4375rem);
  }
}

@media (max-width: 55rem) {
  .board_wrapper {
    grid-template-columns: repeat(2, 11.4375rem);
  }
}

.board_wrapper.expanded {
  max-height: none; /* 기존 max-height 제한 해제 */
  grid-template-columns: repeat(6, 11.4375rem); /* 6열로 변경 */
  grid-template-rows: repeat(3, 1fr); /* 3줄로 고정 */
  gap: 1rem;
  padding: 1rem;
  z-index: 999;
  transition: max-height 0.3s ease;
}

/* 1233px 이하 → 5열 */
@media (max-width: 77.0625rem) {
  .board_wrapper.expanded {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* 1042px 이하 → 4열 */
@media (max-width: 65.125rem) {
  .board_wrapper.expanded {
    grid-template-columns: repeat(5, 1fr);
    max-height: calc((13.125rem * 3) + 3rem);
    overflow: auto;
  }
}

/* 848px 이하 → 3열 */
@media (max-width: 53rem) {
  .board_wrapper.expanded {
    grid-template-columns: repeat(4, 1fr);
  }
}

.board_wrapper.expanded::-webkit-scrollbar {
  height: 0.375rem;
  width: 2rem;
}

.board_wrapper.expanded::-webkit-scrollbar-thumb {
  background-color: #e4f0ff;
  border-radius: 3.125rem;
  border: 10px solid transparent;
  background-clip: content-box;
}

.board_wrapper.expanded::-webkit-scrollbar-track {
  background: transparent;
}

.Menu_container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  gap: 0.75rem;
  z-index: 10; /* 게시글 위로 */
  display: flex;
  align-items: center;
}

/* 기능 버튼들 */
.Menu_buttons {
  gap: 0.75rem;
  height: 3.75rem;
  display: flex;
  flex-direction: row;
  animation: slideIn 0.3s ease forwards;
}

.Menu_item {
  height: 3.75rem;
  all: unset;
  background: none;
  border: none;
  color: white;
  border: none;
  border-radius: 1.25rem;
  font-size: 0.75rem;
  cursor: pointer;
}

.Menu_item img {
  width: 3.75rem;
  height: 3.75rem;
}

/* 메뉴 토글 버튼 */
.Menu_toggle {
  all: unset;
  cursor: pointer;
  z-index: 11;
  background: none;
  border: none;
  transition: transform 0.3s ease;
}

.Menu_toggle img {
  display: block;
  width: 3.75rem;
  height: 3.75rem;
}

.Menu_toggle.rotate {
  transform: rotate(180deg);
}

/* 메뉴 슬라이드 애니메이션 */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 61.25rem) {
  /* .board_team_number {
    display: none;
  } */
}

button:disabled {
  cursor: default;
}
