/* .team-borad-box {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
} */

.Board_content {
  gap: 20px;
  display: flex;
  flex-direction: column;
  border: 20px;
  width: 100%;
  height: 100%;
  position: relative;
}

.board_team_box {
  /* background-color: aqua; */
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: end;
  justify-content: start;
}

.board_team_name {
  color: #fff;

  /* font */
  text-shadow: 0px 2px 10px rgba(89, 126, 219, 0.5);

  /* Title2/Bold/48px */
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.96px;
}

.board_team_number {
  color: #fff;
  padding-bottom: 10px;

  /* font */
  text-shadow: 0px 2px 10px rgba(89, 126, 219, 0.5);

  /* Body1/Bold/24px */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.48px;
}

.board_team_notice {
  background-color: #fff;
  border-radius: 20px;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  position: relative;
}

.board_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  max-height: 480px;
  padding: 20px;
  gap: 15px;
  overflow: hidden;
}

.Menu_container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10; /* ✅ 게시글 위로 */
  display: flex;
  align-items: center;
}

/* 기능 버튼들 */
.Menu_buttons {
  display: flex;
  flex-direction: row;
  animation: slideIn 0.3s ease forwards;
}

.Menu_item {
  background: none;
  border: none;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 12px;
  cursor: pointer;
}

.Menu_item img {
  width: 60px;
  height: 60px;
}

/* 메뉴 토글 버튼 */
.Menu_toggle {
  cursor: pointer;
  z-index: 11;
  background: none;
  border: none;
  transition: transform 0.3s ease;
}

.Menu_toggle.rotate {
  transform: rotate(180deg);
}

/* 메뉴 슬라이드 애니메이션 */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
