.Massage_button {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: relative;
  align-items: center;
  justify-content: center;

  border-radius: 1.25rem;
  cursor: pointer;
}

.Massage_button:hover {
  /* background-color: #4b527e1e; */
  filter: brightness(95%);
}

.massage_back {
  border-radius: 1.25rem;
  background: var(--Primary-Color-20, #afcdff);
  width: 100%;
  height: 100%;
  padding: 1.25rem;
  z-index: 1;
}

.massage_Inner {
  border-radius: 1.25rem;
  background: #fff;
  width: 100%;
  height: 100%;
}

.massage_front {
  border-radius: 1.25rem;
  background: var(--Primary-Color-20, #afcdff);
  z-index: 99;
  position: absolute;
  top: 2.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
}

.massage_title {
  color: var(--Font-Color-70, #252b5a);
  margin: 0.3125rem 0;
  font-family: Inter;
  font-size: 2.25rem;
  font-style: bold;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.72px;
}

.massage_subtitle {
  color: var(--Font-Color-50, #4b527e);
  font-family: Inter;
  font-size: 1rem;
  font-style: bold;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.32px;
}

@media (max-width: 55.625rem) {
  .massage_title {
    display: none;
  }

  .massage_subtitle {
    display: none;
  }
}
