.Promise_all_box {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* gap: 1.25rem; */ /* 20px */
}

.button_space {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0.625rem 0; /* 10px 0 */
  margin-top: 1.25rem; /* 20px */
  gap: 0.5rem; /* 8px */
}

.button_section {
  display: flex;
  gap: 0.5rem; /* 8px */
}

.promise_check_box {
  width: 100%;
  height: 19.375rem; /* 310px */

  border-radius: 1.25rem; /* 20px */
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0.9) 100%
  );

  /* 글래스모피즘 종합 */
  box-shadow: 0rem 0rem 1.25rem 0rem rgba(255, 255, 255, 0.5) inset; /* 0px 0px 20px 0px */
  backdrop-filter: blur(1.40625rem); /* 22.5px */

  position: relative;
}

.edit_button {
  position: absolute;
  flex-shrink: 0;
  bottom: 0.75rem; /* 12px */
  right: 0.5rem; /* 8px */

  width: 2.1875rem; /* 35px */
  height: 2.1875rem; /* 35px */
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #afcdff;
  border: none;
  transition: background-color 0.3s;
  /* padding: 0.3125rem; */ /* 5px */
}

.edit_button:hover,
.edit_button.edit_active {
  background-color: #acc3f3;
  border: 0.125rem solid #7b83b1; /* 2px */
}

.edit_img {
  height: 0.9375rem; /* 15px */
  width: 0.9375rem; /* 15px → 기존 width: 15 px (띄어쓰기 오류 수정됨) */

  color: white;
}
