.Promise_content {
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.625rem;
  /* box-sizing: border-box; */
}

/* 달력 박스 (왼쪽 영역) */
.promise_calendar_box {
  width: 10.625rem;
  min-width: 7.5rem;
  aspect-ratio: 1 / 1; /* ✅ 항상 정사각형 유지 */
  background-color: #fff;
  border-radius: 1.25rem;
  margin-left: 10px;
}

/* 텍스트 박스 (오른쪽 영역) */
.promise_text_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
  width: 100%;
  max-width: 13.125rem;
  gap: 0.125rem;
  margin-bottom: 10px;
}

.promise_text {
  color: var(--Netural-white, #fff);
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;

  /* font */
  text-shadow: 0px 2px 10px rgba(89, 126, 219, 0.5);

  /* Body2/Bold/22px */
  font-family: Inter;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 1.925rem */
  letter-spacing: -0.4px;
}

/* 날짜와 D-day 표현 (예: 06.27, D-15) */
.promise_date {
  width: 100%;
  height: 3.75rem;
  color: var(--Font-Color-60, #363d6c);
  text-align: center;
  font-family: Inter;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 67.2px */
  letter-spacing: -0.96px;
}

.promise_dday {
  width: 100%;
  height: 3.75rem;
  color: #fff;
  text-align: center;

  /* font */
  text-shadow: 0px 2px 10px rgba(89, 126, 219, 0.5);
  font-family: Inter;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 70px */
  letter-spacing: -2.5px;
}

.promise_time {
  width: 100%;

  color: var(--Font-Color-60, #363d6c);
  text-align: center;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 33.6px */
  letter-spacing: -0.48px;
}

@media (max-width: 68.125rem) {
  .promise_text_box {
    display: none;
  }
}
