.Promise_content {
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
  /* box-sizing: border-box; */
}

/* 달력 박스 (왼쪽 영역) */
.promise_calendar_box {
  width: 200px;
  min-width: 150px;
  aspect-ratio: 1 / 1; /* ✅ 항상 정사각형 유지 */
  background-color: #fff;
  border-radius: 20px;
}

/* 텍스트 박스 (오른쪽 영역) */
.promise_text_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
  width: 100%;
  max-width: 210px;
}

.promise_text {
  color: var(--Netural-white, #fff);
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;

  /* font */
  text-shadow: 0px 2px 10px rgba(89, 126, 219, 0.5);

  /* Body1/Bold/24px */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 33.6px */
  letter-spacing: -0.48px;
}

/* 날짜와 D-day 표현 (예: 06.27, D-15) */
.promise_date {
  width: 100%;
  color: var(--Font-Color-60, #363d6c);
  text-align: center;

  /* Title2/Bold/36px */
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 67.2px */
  letter-spacing: -0.96px;
}

.promise_dday {
  width: 100%;
  color: #fff;
  text-align: center;

  /* font */
  text-shadow: 0px 2px 10px rgba(89, 126, 219, 0.5);

  /* Title2/Bold/36px */
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 67.2px */
  letter-spacing: -0.96px;
}
