.Promise_all_box {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* gap: 20px; */
}

.button_space {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0.625rem 0;
  margin-top: 20px;
  gap: 0.5rem;
}

.button_section {
  display: flex;
  gap: 0.5rem;
}

.promise_check_box {
  width: 100%;
  height: 19.375rem;

  border-radius: 1.25rem;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0.9) 100%
  );

  /* 글래스모피즘 종합 */
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5) inset;
  backdrop-filter: blur(22.5px);

  position: relative;
}

.edit_button {
  position: absolute;
  flex-shrink: 0;
  bottom: 12px;
  right: 8px;

  width: 2.1875rem;
  height: 2.1875rem;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #afcdff;
  border: none;
  transition: background-color 0.3s;
  /* padding: 5px; */
}

.edit_button:hover,
.edit_button.edit_active {
  background-color: #acc3f3;
  border: 2px solid #7b83b1;
}

.edit_img {
  height: 0.9375rem;
  width: 15 px;

  color: white;
}
