.Teamlist_content {
  gap: 1.25rem;
  display: flex;
  flex-direction: column;
  border: 20px;
  width: 100%;
  height: 100%;
  position: relative;
}

.Teamlist_space {
  gap: 0.625rem;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  overflow-y: auto;

  padding-right: 10px;
  scrollbar-gutter: stable; /* ✅ 스크롤 생겨도 레이아웃 변화 없음 */
}

.Teamlist_button_space {
  width: 100%;
  height: 3.125rem;
  position: relative;

  padding-right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.9375rem;
}

/* 스크롤바 전체 영역 */
.Teamlist_space::-webkit-scrollbar {
  width: 0.625rem;
  height: 0.375rem;
}

/* 스크롤바 막대 (thumb) */
.Teamlist_space::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 3.125rem;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* 스크롤바 트랙 (막대가 움직이는 배경) */
.Teamlist_space::-webkit-scrollbar-track {
  background: transparent; /* 트랙은 안 보이게 */
}

.teamlist_null_content {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center; /* 세로 중앙 */
  justify-content: center; /* 가로 중앙 */
}

.teamlist_null_box {
  display: flex;
  align-items: center;
  gap: 0.625rem;

  width: 100%;
}

.teamlist_null_text {
  width: 100%;
  min-width: 80px;
  color: var(--Font-Color-50, #4b527e);

  /* Body1/SemiBold/24px */
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 33.6px */
  letter-spacing: -0.48px;
}
