.Teamlist-content {
  gap: 20px;
  display: flex;
  flex-direction: column;
  border: 20px;
  width: 100%;
  height: 100%;
  position: relative;
}

.Teamlist-space {
  gap: 10px;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  overflow-y: auto;

  padding-right: 5px;
  scrollbar-gutter: stable; /* ✅ 스크롤 생겨도 레이아웃 변화 없음 */
}

.Teamlist-button-space {
  width: 100%;
  height: 50px;
  position: relative;

  padding-right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

/* 스크롤바 전체 영역 */
.Teamlist-space::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}

/* 스크롤바 막대 (thumb) */
.Teamlist-space::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 50px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* 스크롤바 트랙 (막대가 움직이는 배경) */
.Teamlist-space::-webkit-scrollbar-track {
  background: transparent; /* 트랙은 안 보이게 */
}
