.List,
.List * {
  box-sizing: border-box;
}
.List {
  display: flex;
  flex-direction: row;
  gap: 1.875rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
  padding: 0.625rem 0px;
}

/* 스크롤바 전체 영역 */
.List::-webkit-scrollbar {
  width: 0.375rem;
  height: 0.625rem;
}

/* 스크롤바 막대 (thumb) */
.List::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 3.125rem;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* 스크롤바 트랙 (막대가 움직이는 배경) */
.List::-webkit-scrollbar-track {
  background: transparent;
}

.Add_card_button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 22.3125rem;
  height: 31.6875rem;
  border-radius: 1.25rem;
  transition: background-color 0.2s ease;
}

.Add_card_button:hover {
  background-color: rgba(164, 171, 213, 0.5);
}

.Add_card_img {
  width: 22.3125rem;
  height: 31.6875rem;
  transition: filter 0.2s ease;
}
