.List,
.List * {
  box-sizing: border-box;
}
.List {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
  padding: 10px 0px;
}

/* 스크롤바 전체 영역 */
.List::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

/* 스크롤바 막대 (thumb) */
.List::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 50px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* 스크롤바 트랙 (막대가 움직이는 배경) */
.List::-webkit-scrollbar-track {
  background: transparent;
}

.Add_card_button {
  background: none;
  border: none;
  cursor: pointer;
}

.Add_card_img {
  width: 357px;
  height: 507px;
}
