.Receiced_letter,
.Receiced_letter * {
  box-sizing: border-box;
}

.Receiced_letter {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.6) 100%
  );
  border-radius: 20px;
  padding: 13px 23px;
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 180px;
  height: 180px;
  position: relative;
  box-shadow: inset 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(22.5px);
  cursor: pointer;
}

.Envelope_wrapper {
  position: relative;
  width: 112.5px;
  height: 112.5px;
}

.Envelope_logo {
  width: 112.5px;
  height: 112.5px;
}

.Unread {
  position: absolute;
  top: 10px;
  right: -5px;
  width: 10px;
  height: 10px;
  background-color: #ff4f49;
  border-radius: 50%;
}

.From {
  color: #4b527e;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
