.editSmallPageContainer,
.editSmallPageContainer * {
  box-sizing: border-box;
}
.editSmallPageContainer {
  margin: 0 auto;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );

  border-radius: 1.25rem;
  padding: 1.25rem 2.5rem 1.25rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 51.5625rem;
  max-width: 85.25rem;
  position: relative;
  box-shadow: inset 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
  overflow: hidden;
}
.headerSection {
  padding: 0px 0px 1.875rem 0px;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 6.875rem;
  position: relative;
}
.headerContent {
  padding: 0px 1.25rem 0px 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.snowIcon {
  flex-shrink: 0;
  width: 3.375rem;
  height: 3.375rem;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.dateText {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.titleEditContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 9.25rem;
  position: relative;
}
.titleInputWrapper {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.smallTalkTitle {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.titleUnderline {
  margin-top: -3px;
  border-style: solid;
  border-color: #7b83b1;
  border-width: 3px 0 0 0;
  flex-shrink: 0;
  width: 7.21875rem;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0.248deg) scale(1, 1);
}
.editSaveIcon {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  overflow: visible;
}
.targetText {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.purposeText {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: relative;
  width: 33.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.unusedTextPlaceholder {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: absolute;
  left: 209px;
  top: 1px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.headerDivider {
  margin-top: -2px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px 0 0 0;
  flex-shrink: 0;
  height: 0px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 89px;
  filter: blur(1.5px);
}
.questionsListContainer {
  padding: 0px 1.25rem 0px 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 32.5625rem;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  padding-right: 5px;
  scrollbar-gutter: stable;
}
.questionCard {
  background: #ffffff;
  border-radius: 1.25rem;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.questionCardHeader {
  display: flex;
  flex-direction: row;
  row-gap: 10px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.questionText {
  color: #4b527e;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: relative;
  flex: 1;
}
.questionActions {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
/* 전체 스크롤바 영역 */
.questionsListContainer::-webkit-scrollbar {
  width: 0.625rem;
  height: 0.375rem;
}
/* 스크롤바 막대 (thumb) */
.questionsListContainer::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 3.125rem;
  border: 2px solid transparent;
  background-clip: content-box;
}
/* 스크롤바 트랙 (배경) */
.questionsListContainer::-webkit-scrollbar-track {
  background: transparent;
}
.long {
  background: #597edb;
  border-radius: 1.25rem;
  padding: 0.6875rem 8.875rem 0.6875rem 8.875rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 5rem;
  height: 3.125rem;
  position: relative;
}
.Button_longdisabled {
  background: #cccccc;
  border-radius: 1.25rem;
  padding: 0.6875rem 8.875rem 0.6875rem 8.875rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 5rem;
  height: 3.125rem;
  position: relative;
  opacity: 0.6;
  cursor: not-allowed;
  color: #666666;
}
.longButtonText {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.25rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
}
.deleteButton {
  background: #ff4f49;

  border-radius: 1.25rem;
  padding: 0.6875rem 8.875rem 0.6875rem 8.875rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 5rem;
  height: 3.125rem;
  position: relative;
}
.questionDetailSection {
  display: flex;
  flex-direction: column;
  gap: 1.3125rem;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.questionDetailCard {
  background: #e4f0ff;
  border-radius: 1.25rem;
  padding: 1.25rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.detailContentText {
  color: #4b527e;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: relative;
  align-self: stretch;
  flex: 1;
  word-break: break-word;
  overflow-wrap: break-word;
}
.replaceButton {
  background: #edfbd8;
  border-radius: 1.25rem;
  border-style: solid;
  border-color: #65bc3a;
  border-width: 2px;
  padding: 0.6875rem 0px 0.6875rem 0px;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
}
.replaceButtonText {
  color: #65bc3a;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.25rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  flex: 1;
}
.addQuestionButtonWrapper {
  background: #ffffff;
  border-radius: 1.25rem;
  padding: 0.4375rem 1.25rem 0.4375rem 1.25rem;
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 3rem;
  position: relative;
}
.addQuestionButtonText {
  color: #363d6c;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.25rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blackEnabledButton {
  background: #ffffff;
  border-radius: 1.25rem;
  padding: 0.6875rem 8.875rem 0.6875rem 8.875rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 20.625rem;
  height: 3.125rem;
  position: relative;
  aspect-ratio: 330/50;
}
.blackEnabledButtonText {
  color: #4b527e;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.25rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
}

.titleInput {
  all: unset;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  padding-bottom: 4px;
  background: transparent;
  box-sizing: border-box;
  cursor: text;
}
