.infoBox {
  display: flex;
  height: 830px;

  padding: 30px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  align-self: stretch;
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  position: relative;
  overflow: hidden; /* 자식 요소가 box를 넘지 않도록 */

  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.5) inset;
  backdrop-filter: blur(22.5px);
}

.infoRect {
  position: absolute;
  inset: 0; /* top, right, bottom, left = 0 */
  z-index: 0; /* 제일 뒤로 */
  pointer-events: none; /* hover 이벤트를 infoBox가 받도록 함 */
  transition: background 0.3s ease;
}

.infoRect.hovered {
  background: radial-gradient(
    79.17% 56.79% at 54.85% 53.15%,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.2) 59.13%,
    rgba(141, 176, 240, 0) 100%
  );
  filter: blur(2px);
}

.infoBoxContent {
  z-index: 1; /* 텍스트는 위에 위치하도록 */
  width: 100%;
  display: flex;
  padding: 40px 20px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  flex: 1 0 0;
  align-self: stretch;
}

.info_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.info_title_for {
  display: flex;
  padding: 2px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* margin-bottom: 5px; */

  border-radius: 20px;
  border: 2px solid #fff;

  /* font */
  box-shadow: 0 2px 10px 0 rgba(89, 126, 219, 0.5);

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
}

.info_for_text {
  color: var(--Font-Color-50, #4b527e);
  text-align: center;

  /* font */
  text-shadow: 0 2px 10px rgba(89, 126, 219, 0.5);

  /* Body2/Bold/20px */
  font-family: Inter;
  font-size: 20px;
  font-style: Bold;
  font-weight: 700;
  line-height: 140%; /* 28px */
  letter-spacing: -0.4px;
}

.info_title_big {
  color: var(--Font-Color-50, #4b527e);

  text-shadow: 0 2px 10px 0 rgba(89, 126, 219, 0.5);

  text-align: center;
  font-family: Inter;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 77px */
  letter-spacing: -1.1px;
}

.info_title_small {
  color: var(--Font-Color-50, #4b527e);
  text-align: center;

  text-shadow: 0 2px 10px 0 rgba(89, 126, 219, 0.5);

  /* Body1/Bold/24px */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 33.6px */
  letter-spacing: -0.48px;
}

.info_block_frame hr {
  background-color: #f8f8f8;
  filter: blur(1px);

  border: 0;
  height: 1px;
  width: 100%;
  height: 2px;
  padding: 0;
  margin: 0;
}

.info_block_frame {
  display: flex;
  padding: 10px 50px;
  height: 100%;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  flex: 1 0 0;
  align-self: stretch;
}

.info_block_flex {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 90px;
  flex: 1 0 0;
  align-self: stretch;
}

.info_block_flex hr {
  width: 100%;
  height: 2px;
  /* min-width 넣기 */
  border-color: #f8f8f8;
  filter: blur(1px);
  margin: 0;
}

.info_block {
  width: 100%;
  min-width: 21.875rem;
  height: 100%;
  padding: 60px 25px;
  align-items: center;
  justify-content: end;
  border-radius: 20px;
  border: 2px solid #fff;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );

  box-shadow: 0 2px 20px 0 rgba(89, 126, 219, 0.3);
}

.info_block_block_inner {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 70px;
  justify-self: center;
}

.info_block_title {
  color: var(--Font-Color-50, #4b527e);

  /* font */
  text-shadow: 0 2px 10px rgba(89, 126, 219, 0.5);
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 56px */
  letter-spacing: -0.8px;
}

.info_block_body_group {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.info_block_title_group {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.info_block_text_group {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.info_block_text {
  color: var(--Font-Color-40, #7b83b1);

  /* Body2/Bold/20px */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 28px */
  letter-spacing: -0.4px;
}

.info_block_flex {
  display: flex;
  flex-direction: row;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 0;
  margin: 20px 0 0 0;
  border-top: 2px solid #fff;
  width: 100%;
}

.footer_team_name {
  color: #fff;

  /* Body2/SemiBold/20px */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 28px */
  letter-spacing: -0.4px;
}

.footer_team_text {
  color: #fff;

  /* Body2/SemiBold/20px */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 28px */
  letter-spacing: -0.4px;
}
.footer_team_text_group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
