.home,
.home * {
  box-sizing: border-box;
}
.home {
  background: linear-gradient(
    172.35deg,
    rgba(118, 140, 240, 1) 0%,
    rgba(133, 164, 240, 1) 13.942153751850128%,
    rgba(148, 188, 240, 1) 27.88524627685547%,
    rgba(181, 208, 253, 1) 44.23076808452606%,
    rgba(191, 191, 255, 1) 73.55769276618958%
  );
  padding: 18px 38px 18px 38px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: center;
  justify-content: flex-start;
  min-width: 744px;
  position: relative;
  overflow-y: auto;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  height: 126px;
  min-width: 375px;
  min-height: 126px;
  position: relative;
}
.logo_sign {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  height: 126px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
}
.logo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.icey {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 90px;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.sign_in_button {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  border-radius: 19px;
  border-width: 3px;
  cursor: pointer;
  border-image: transparent;
  border-image-slice: 1;
  border: none;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 173px;
  height: 59px;
  position: relative;
  box-shadow: var(
    ---box-shadow,
    inset 0px 0px 20px 0px rgba(255, 255, 255, 0.5)
  );
  backdrop-filter: var(---backdrop-filter, blur(22.5px));
}
.sign_in {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 25px;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header_line {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.heroSection {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.heroIntroWrapper {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  border-radius: 20px;
  border-width: 3px;

  border-image: transparent;
  border-image-slice: 1;
  padding: 55px 20px 55px 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 668px;
  height: 500px;
  position: relative;
  box-shadow: var(
    ---box-shadow,
    inset 0px 0px 20px 0px rgba(255, 255, 255, 0.5)
  );
  backdrop-filter: var(---backdrop-filter, blur(22.5px));
}
.heroTextBox {
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.heroTitle {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 90px;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.heroSubtitle {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 40px;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.heroDescription {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 25px;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.go_button {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.smalltalk {
  cursor: pointer;
  background: var(
    --big-button,
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 0.5) 100%
    )
  );
  border-radius: 20px;
  border-width: 3px;

  border-image: transparent;
  border-image-slice: 1;
  padding: 66px 20px 66px 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  height: 500px;
  position: relative;
  box-shadow: var(
    ---box-shadow,
    inset 0px 0px 20px 0px rgba(255, 255, 255, 0.5)
  );
  backdrop-filter: var(---backdrop-filter, blur(22.5px));
}
.go_text {
  color: var(--font-color-50, #4b527e);
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 40px;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team {
  background:
    linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(
      180deg,
      rgba(179, 186, 228, 0.5) 0%,
      rgba(99, 108, 159, 0.8) 100%
    );
  border-radius: 20px;
  border-width: 3px;
  cursor: pointer;
  border-image: transparent;
  border-image-slice: 1;
  padding: 66px 20px 66px 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  height: 500px;
  position: relative;
  box-shadow: var(
    ---box-shadow,
    inset 0px 0px 20px 0px rgba(255, 255, 255, 0.5)
  );
  backdrop-filter: var(---backdrop-filter, blur(22.5px));
}
.infoSection {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  border-radius: 20px;
  border-width: 3px;

  border-image: transparent;
  border-image-slice: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 832px;
  position: relative;
  box-shadow: var(
    ---box-shadow,
    inset 0px 0px 20px 0px rgba(255, 255, 255, 0.5)
  );
  backdrop-filter: var(---backdrop-filter, blur(22.5px));
}
.infoBoxBackground {
  background: radial-gradient(
    closest-side,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.3) 59.13461446762085%,
    rgba(141, 176, 240, 0) 100%
  );
  border-radius: 23px;
  align-self: stretch;
  flex-shrink: 0;
  height: 827px;
  position: relative;
  filter: blur(2px);
}
.infoDivider {
  margin-top: -2px;
  border-style: solid;
  border-color: var(--netural-white, #ffffff);
  border-width: 2px 0 0 0;
  flex-shrink: 0;
  width: 1288px;
  height: 0px;
  position: absolute;
  left: calc(50% - 645px);
  top: 277px;
  filter: blur(2px);
}
.infoTitle {
  color: var(--font-color-50, #4b527e);
  text-align: center;
  font-family: var(--title2-bold-48px-font-family, "Inter-Bold", sans-serif);
  font-size: var(--title2-bold-48px-font-size, 48px);
  line-height: var(--title2-bold-48px-line-height, 140%);
  letter-spacing: var(--title2-bold-48px-letter-spacing, -0.02em);
  font-weight: var(--title2-bold-48px-font-weight, 700);
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 121px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.infoText {
  color: var(--font-color-50, #4b527e);
  text-align: center;
  font-family: var(
    --body1-semibold-24px-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--body1-semibold-24px-font-size, 24px);
  line-height: var(--body1-semibold-24px-line-height, 140%);
  letter-spacing: var(--body1-semibold-24px-letter-spacing, -0.02em);
  font-weight: var(--body1-semibold-24px-font-weight, 600);
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 197px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.momentsTitle {
  color: var(--font-color-50, #4b527e);
  text-align: center;
  font-family: var(
    --body1-semibold-24px-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--body1-semibold-24px-font-size, 24px);
  line-height: var(--body1-semibold-24px-line-height, 140%);
  letter-spacing: var(--body1-semibold-24px-letter-spacing, -0.02em);
  font-weight: var(--body1-semibold-24px-font-weight, 600);
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.momentsCards {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-shrink: 0;
  width: 1288px;
  position: absolute;
  left: calc(50% - 645px);
  top: 323px;
}
.momentCardPersonal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-shrink: 0;
  width: 432px;
  height: 314px;
  position: relative;
}
.momentItem1 {
  color: var(--font-color-50, #4b527e);
  text-align: center;
  font-family: var(
    --body1-semibold-24px-font-family,
    "Inter-SemiBold",
    sans-serif
  );

  font-size: var(--body1-semibold-24px-font-size, 24px);
  line-height: var(--body1-semibold-24px-line-height, 140%);
  letter-spacing: var(--body1-semibold-24px-letter-spacing, -0.02em);
  font-weight: var(--body1-semibold-24px-font-weight, 600);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.momentItem2 {
  color: var(--font-color-50, #4b527e);
  text-align: left;
  font-family: var(
    --body1-semibold-24px-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--body1-semibold-24px-font-size, 24px);
  line-height: var(--body1-semibold-24px-line-height, 140%);
  letter-spacing: var(--body1-semibold-24px-letter-spacing, -0.02em);
  font-weight: var(--body1-semibold-24px-font-weight, 600);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.momentCardTeam {
  padding: 50px 0px 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  flex-shrink: 0;
  width: 491px;
  height: 414px;
  position: relative;
}
.momentItem3 {
  color: var(--font-color-50, #4b527e);
  text-align: right;
  font-family: var(
    --body1-semibold-24px-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--body1-semibold-24px-font-size, 24px);
  line-height: var(--body1-semibold-24px-line-height, 140%);
  letter-spacing: var(--body1-semibold-24px-letter-spacing, -0.02em);
  font-weight: var(--body1-semibold-24px-font-weight, 600);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.momentItem4 {
  color: var(--font-color-50, #4b527e);
  text-align: center;
  font-family: var(
    --body1-semibold-24px-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--body1-semibold-24px-font-size, 24px);
  line-height: var(--body1-semibold-24px-line-height, 140%);
  letter-spacing: var(--body1-semibold-24px-letter-spacing, -0.02em);
  font-weight: var(--body1-semibold-24px-font-weight, 600);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.smalltalkBox {
  background: var(
    --,
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.2) 100%
    )
  );
  border-radius: 20px;
  padding: 51px 627px 51px 627px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 746px;
  position: relative;
  box-shadow: var(
    ---box-shadow,
    inset 0px 0px 20px 0px rgba(255, 255, 255, 0.5)
  );
  backdrop-filter: var(---backdrop-filter, blur(22.5px));
}
.sectionTitle {
  color: var(--font-color-50, #4b527e);
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 50px;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.for_alone {
  color: var(--font-color-50, #4b527e);
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.teamBox {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  border-radius: 20px;
  padding: 51px 605px 51px 605px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 746px;
  position: relative;
  box-shadow: var(
    ---box-shadow,
    inset 0px 0px 20px 0px rgba(255, 255, 255, 0.5)
  );
  backdrop-filter: var(---backdrop-filter, blur(22.5px));
}
.for_team {
  color: var(--font-color-50, #4b527e);
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.foot {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 240px;
  position: relative;
  box-shadow: var(
    ---box-shadow,
    inset 0px 0px 20px 0px rgba(255, 255, 255, 0.5)
  );
  backdrop-filter: var(---backdrop-filter, blur(22.5px));
}
.footerContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 240px;
  position: relative;
  overflow: hidden;
}
.footerLanguage {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.footerCopyright {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-end;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.footerText {
  color: #ffffff;
  text-align: left;
  font-family: var(--body2-semibold-20px-font-family, "Inter-Bold", sans-serif);
  font-size: var(--body2-semibold-20px-font-size, 20px);
  line-height: var(--body2-semibold-20px-line-height, 140%);
  letter-spacing: var(--body2-semibold-20px-letter-spacing, -0.02em);
  font-weight: var(--body2-semibold-20px-font-weight, 700);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footerLegalInfo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.footerLinkList {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.copyrightText {
  color: #ffffff;
  text-align: left;
  font-family: var(--body2-semibold-20px-font-family, "Inter-Bold", sans-serif);
  font-size: var(--body2-semibold-20px-font-size, 20px);
  line-height: var(--body2-semibold-20px-line-height, 140%);
  letter-spacing: var(--body2-semibold-20px-letter-spacing, -0.02em);
  font-weight: var(--body2-semibold-20px-font-weight, 700);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footerEtcInfo {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
