.infoBox {
  display: flex;
  height: 51.875rem;

  padding: 1.875rem;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
  align-self: stretch;
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  position: relative;
  overflow: hidden; /* 자식 요소가 box를 넘지 않도록 */

  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.5) inset;
  backdrop-filter: blur(22.5px);
}

.infoRect {
  position: absolute;
  inset: 0; /* top, right, bottom, left = 0 */
  z-index: 0; /* 제일 뒤로 */
  pointer-events: none; /* hover 이벤트를 infoBox가 받도록 함 */
  transition: background 0.3s ease;
}

.infoRect.hovered {
  background: radial-gradient(
    79.17% 56.79% at 54.85% 53.15%,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.2) 59.13%,
    rgba(141, 176, 240, 0) 100%
  );
  filter: blur(2px);
}

.infoBoxContent {
  z-index: 1; /* 텍스트는 위에 위치하도록 */
  width: 100%;
  display: flex;
  padding: 2.5rem 1.25rem;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  flex: 1 0 0;
  align-self: stretch;
}

.info_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
}

.info_title_for {
  display: flex;
  padding: 0.125rem 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  /* margin-bottom: 5px; */

  border-radius: 20px;
  border: 2px solid #fff;

  /* font */
  box-shadow: 0 2px 10px 0 rgba(89, 126, 219, 0.5);

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
}

.info_for_text {
  color: var(--Font-Color-50, #4b527e);
  text-align: center;

  /* font */
  text-shadow: 0 2px 10px rgba(89, 126, 219, 0.5);

  /* Body2/Bold/20px */
  font-family: Inter;
  font-size: 1.25rem;
  font-style: Bold;
  font-weight: 700;
  line-height: 140%; /* 28px */
  letter-spacing: -0.4px;
}

.info_title_big {
  color: var(--Font-Color-50, #4b527e);

  text-shadow: 0 2px 10px 0 rgba(89, 126, 219, 0.5);

  text-align: center;
  font-family: Inter;
  font-size: 3.4375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 77px */
  letter-spacing: -1.1px;
}

.info_title_small {
  color: var(--Font-Color-50, #4b527e);
  text-align: center;

  text-shadow: 0 2px 10px 0 rgba(89, 126, 219, 0.5);

  /* Body1/Bold/24px */
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 33.6px */
  letter-spacing: -0.48px;
}

.info_block_frame hr {
  background-color: #f8f8f8;
  filter: blur(1px);

  border: 0;
  height: 0.0625rem;
  width: 100%;
  height: 0.125rem;
  padding: 0;
  margin: 0;
}

.info_block_frame {
  display: flex;
  padding: 0.625rem 3.125rem;
  height: 100%;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  flex: 1 0 0;
  align-self: stretch;
}

.info_block_flex {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5.625rem;
  flex: 1 0 0;
  align-self: stretch;
}

.info_block_flex hr {
  width: 100%;
  height: 0.125rem;
  /* min-width 넣기 */
  border-color: #f8f8f8;
  filter: blur(1px);
  margin: 0;
}

.info_block {
  width: 100%;
  min-width: 21.875rem;
  height: 100%;
  padding: 3.75rem 1.5625rem;
  align-items: center;
  justify-content: end;
  border-radius: 20px;
  border: 2px solid #fff;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );

  box-shadow: 0 2px 20px 0 rgba(89, 126, 219, 0.3);
}

.info_block_block_inner {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 4.375rem;
  justify-self: center;
}

.info_block_title {
  color: var(--Font-Color-50, #4b527e);

  /* font */
  text-shadow: 0 2px 10px rgba(89, 126, 219, 0.5);
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 56px */
  letter-spacing: -0.8px;
}

.info_block_body_group {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.info_block_title_group {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.info_block_text_group {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.info_block_text {
  color: var(--Font-Color-40, #7b83b1);

  /* Body2/Bold/20px */
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 28px */
  letter-spacing: -0.4px;
}

.info_block_flex {
  display: flex;
  flex-direction: row;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  padding: 1.875rem 0;
  margin: 1.25rem 0 0 0;
  border-top: 2px solid #fff;
  width: 100%;
}

.footer_team_name {
  color: #fff;

  /* Body2/SemiBold/20px */
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 28px */
  letter-spacing: -0.4px;
}

.footer_team_text {
  color: #fff;

  /* Body2/SemiBold/20px */
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 28px */
  letter-spacing: -0.4px;
}
.footer_team_text_group {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}

@keyframes float {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

.floating {
  animation: float 3s ease-in-out infinite;
}

.floatingDelay1 {
  animation-delay: 0s;
}

.floatingDelay2 {
  animation-delay: 0.5s;
}

.floatingDelay3 {
  animation-delay: 1s;
}

.info_question_frame {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  flex: 1 0 0;
  align-self: stretch;
}

.question_box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18.75rem;
  left: 50%;
}

/* 개별 박스 너비 조절 */
.question_box1 {
  top: 2rem;
  width: 21.875rem;
  transform: translateX(calc(-50% - 12rem));
}

.question_box2 {
  top: 12rem;
  width: 26.875rem;
  transform: translateX(calc(-50% - 27rem));
}

.question_box3 {
  top: 23rem;
  width: 27.5rem;
  transform: translateX(calc(-50% - 16rem));
}

/* 필요하면 top 위치 조정 */
.question_box4 {
  top: 2rem;
  width: 22.5rem;
  transform: translateX(calc(-50% + 12rem));
}

.question_box5 {
  top: 12rem;
  width: 13.4375rem;
  transform: translateX(calc(-50% + 27rem));
}

.question_box6 {
  top: 23rem;
  width: 32.8125rem;
  transform: translateX(calc(-50% + 16rem));
}

.question_text {
  color: #4b527e;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.25rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
}

.curve_overlap {
  margin-top: -0.625rem;
  width: 100%;
}

.question_img {
  width: 9.375rem;
}

.question_img1 {
  width: 7.5rem;
}
.question_img2 {
  width: 6.25rem;
}
.question_img3 {
  width: 6.875rem;
}
.question_img4 {
  width: 6.875rem;
}
.question_img5 {
  width: 6.875rem;
}
.question_img6 {
  width: 5rem;
}
.question_img7 {
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translateX(-50%);
  width: 12.5rem;
}
