.small_text {
  color: var(--Font-Color-50, #4b527e);

  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 50.4px */
  letter-spacing: -0.72px;

  /* font */
  text-shadow: 0px 2px 10px rgba(89, 126, 219, 0.5);
}
