.Letter_body,
.Letter_body * {
  box-sizing: border-box;
}

.Letter_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  position: relative;
}

.Letter_body {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 100%;
  max-width: 1364px;
  height: 825px;
  position: relative;
  margin: 0 auto;
}

.Letter_list {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  border-radius: 20px;
  padding: 27px 34px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  height: 234px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: inset 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(22.5px);
  transition: height 0.4s ease;

  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;

  align-content: stretch;
}

/* 스크롤바 전체 영역 */
.Letter_list::-webkit-scrollbar {
  width: 6px;
  height: 26px;
}

/* 스크롤바 막대 (thumb) */
.Letter_list::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 50px;
  border: 10px solid transparent;
  background-clip: content-box;
}

/* 스크롤바 트랙 (막대가 움직이는 배경) */
.Letter_list::-webkit-scrollbar-track {
  background: transparent;
}

.Letter_list::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: block;
  background: transparent;

  height: 8px;
}

.Letter_list_expanded {
  height: 642px;
}

.Letter_list_expanded::-webkit-scrollbar {
  display: none;
}

.Selected_section {
  flex: 1 0 auto;
  width: 100%;
  max-width: 1296px;
  height: 588px;
  gap: 20px;
  display: flex;
  justify-content: space-between;
}

.Letter_contentBox {
  width: 100%;
  max-width: 1096px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.Letter_message {
  background: #ffffff;
  border-radius: 20px;
  width: 100%;
  max-width: 1096px;
  height: 518px;
  padding: 44px 37px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  box-shadow: inset 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(22.5px);

  flex-grow: 1;
}

.Letter_message_text {
  color: #4b527e;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  width: 100%;
  overflow-y: auto;
  max-height: 444px;
}

.Letter_message_text::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}

.Letter_message_text::-webkit-scrollbar-thumb {
  background-color: #4b527e;
  border-radius: 50px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.Letter_message_text::-webkit-scrollbar-track {
  background: transparent;
}
