.Letter_body,
.Letter_body * {
  box-sizing: border-box;
}

.Letter_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  position: relative;
}

.Letter_body {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 100%;
  max-width: 85.25rem;
  height: 51.5625rem;
  position: relative;
  margin: 0 auto;
}

.Letter_list {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  border-radius: 1.25rem;
  padding: 1.6875rem 2.125rem;
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  width: 100%;
  height: 14.625rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: inset 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(22.5px);
  transition: height 0.4s ease;

  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;

  align-content: stretch;
}

/* 스크롤바 전체 영역 */
.Letter_list::-webkit-scrollbar {
  width: 0.375rem;
  height: 1.625rem;
}

/* 스크롤바 막대 (thumb) */
.Letter_list::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 3.125rem;
  border: 10px solid transparent;
  background-clip: content-box;
}

/* 스크롤바 트랙 (막대가 움직이는 배경) */
.Letter_list::-webkit-scrollbar-track {
  background: transparent;
}

.Letter_list::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: block;
  background: transparent;

  height: 0.5rem;
}

.Letter_list_expanded {
  height: 40.125rem;
  overflow-x: hidden;
}

.Letter_list_expanded::-webkit-scrollbar {
  display: none;
}

.Selected_section {
  flex: 1 0 auto;
  width: 100%;
  max-width: 81rem;
  height: 36.75rem;
  gap: 1.25rem;
  display: flex;
  justify-content: space-between;
}

.Letter_contentBox {
  width: 100%;
  max-width: 68.5rem;
  gap: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.Letter_message {
  background: #ffffff;
  border-radius: 1.25rem;
  width: 100%;
  max-width: 68.5rem;
  height: 32.375rem;
  padding: 2.75rem 2.3125rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  box-shadow: inset 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(22.5px);

  flex-grow: 1;
}

.Letter_message_text {
  color: #4b527e;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  width: 100%;
  overflow-y: auto;
  max-height: 444px;
}

.Letter_message_text::-webkit-scrollbar {
  width: 0.625rem;
  height: 0.375rem;
}

.Letter_message_text::-webkit-scrollbar-thumb {
  background-color: #4b527e;
  border-radius: 3.125rem;
  border: 2px solid transparent;
  background-clip: content-box;
}

.Letter_message_text::-webkit-scrollbar-track {
  background: transparent;
}
