.body {
  max-width: 1364px;
  width: 100%; /* (필수) auto margin이 적용되려면 있어야 함 */
  margin: 0 auto;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  border-radius: 20px;
  padding: 50px 40px 50px 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 825px;
  position: relative;
  box-shadow: var(
    ---box-shadow,
    inset 0px 0px 20px 0px rgba(255, 255, 255, 0.5)
  );
  overflow: hidden;
  backdrop-filter: var(---backdrop-filter, blur(22.5px));
}
.title {
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.title1 {
  color: #252b5a;
  text-align: center;
  font-family: var(--title2-bold-48px-font-family, "Inter-Bold", sans-serif);
  font-size: var(--title2-bold-48px-font-size, 48px);
  line-height: var(--title2-bold-48px-line-height, 140%);
  letter-spacing: var(--title2-bold-48px-letter-spacing, -0.02em);
  font-weight: var(--title2-bold-48px-font-weight, 700);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title2 {
  color: var(--font-color-50, #4b527e);
  text-align: center;
  font-family: var(
    --body1-semibold-24px-font-family,
    "Inter-SemiBold",
    sans-serif
  );
  font-size: var(--body1-semibold-24px-font-size, 24px);
  line-height: var(--body1-semibold-24px-line-height, 140%);
  letter-spacing: var(--body1-semibold-24px-letter-spacing, -0.02em);
  font-weight: var(--body1-semibold-24px-font-weight, 600);
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.target_purpose {
  padding: 20px 0px 20px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.input_box {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  border-radius: 20px;
  border-width: 3px;
  border-style: solid;
  border: none;
  border-image: transparent;
  border-image-slice: 1;
  padding: 39px 42px 39px 42px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex: 1;
  height: 400px;
  max-width: 417px;
  margin: 0 auto;

  position: relative;
  box-shadow: var(
    ---box-shadow,
    inset 0px 0px 20px 0px rgba(255, 255, 255, 0.5)
  );
  backdrop-filter: var(---backdrop-filter, blur(22.5px));
}
.target_purpose_text {
  color: var(--font-color-60, #363d6c);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ex_div {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ex {
  color: #7b83b1;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ex_text {
  color: #7b83b1;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.input_tp {
  color: var(--font-color-40, #363d6c);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  /* input에 맞게 추가 */
  border: none;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
}

/* placeholder 스타일은 별도로 작성 */
.input_tp::placeholder {
  color: #7b83b1;
  opacity: 1;
}

/* input이니까 포커스시 외곽선 없애기 */
.input_tp:focus {
  outline: none;
}
.line {
  margin-top: -3px;
  border-style: solid;
  border-color: var(--font-color-50, #4b527e);
  border-width: 3px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
}
