.body {
  max-width: 85.25rem;
  width: 100%; /* (필수) auto margin이 적용되려면 있어야 함 */
  margin: 0 auto;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  border-radius: 1.25rem;
  padding: 3.125rem 2.5rem 3.125rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 51.5625rem;

  box-shadow: inset 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
}
.title {
  display: flex;
  flex-direction: column;
  gap: 0.5625rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.title1 {
  color: #252b5a;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 3rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title2 {
  color: #4b527e;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.target_purpose {
  padding: 1.25rem 0px 1.25rem 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.input_box {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  border-radius: 20px;
  padding: 2.4375rem 2.625rem 2.4375rem 2.625rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex: 1;
  height: 25rem;
  max-width: 26.0625rem;
  margin: 0 auto;

  position: relative;
  box-shadow: inset 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(22.5px);
}
.target_purpose_text {
  color: #363d6c;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 3rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ex_div {
  display: flex;
  flex-direction: column;
  gap: 0.1875rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ex {
  color: #7b83b1;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ex_text {
  color: #7b83b1;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 0.4375rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.input_tp {
  color: #363d6c;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  /* input에 맞게 추가 */
  border: none;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
}

/* placeholder 스타일은 별도로 작성 */
.input_tp::placeholder {
  color: #7b83b1;
  opacity: 1;
}

/* input이니까 포커스시 외곽선 없애기 */
.input_tp:focus {
  outline: none;
}
.line {
  margin-top: -3px;
  border-style: solid;
  border-color: #4b527e;
  border-width: 3px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
}

/* overlay가 전체 화면을 덮도록 */
.overlay {
  position: fixed; /* 화면에 고정 */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: #4b527e50;
  opacity: 1;
  z-index: 999; /* 팝업보다 아래, 다른 요소보다 위 */

  display: flex;
  align-items: center;
  justify-content: center;
}
