.body {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  align-items: flex-start; /* 필요 시 center */
  justify-content: space-between; /* 또는 center */
  flex-wrap: wrap;
  width: 100%;
  max-width: 85.25rem; /* Header와 동일 */
  margin: 0 auto; /* 중앙 정렬의 핵심 */
  flex-shrink: 0;
  box-sizing: border-box;
}
.list_section {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  border-radius: 1.25rem;
  padding: 2.5rem 1.25rem 2.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
  flex: 1 1 0;
  min-width: 0;
  height: 51.4375rem;
  max-width: 32.1875rem;
  position: relative;
  box-shadow: inset 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(22.5px);
}
.list_title {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.list_div {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.list {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 2.25rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  flex: 1 1 0;
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font */
  text-shadow: 0px 2px 10px rgba(89, 126, 219, 0.5);
}
.button {
  background: rgba(255, 79, 73, 0.6);
  border-radius: 0.9375rem;
  padding: 0.51563rem 6.65625rem 0.51563rem 6.65625rem;
  display: flex;
  flex-direction: row;
  gap: 0.375rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 3.75rem;
  height: 2.34375rem;
  position: relative;
}
.left_section {
  display: flex;
  flex-direction: column;
  gap: 1.0625rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1 1 0;
  min-width: 0;
  max-width: 51.75rem;
  position: relative;
}
.upperSection {
  display: flex;
  flex-direction: row;
  gap: 1.1875rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.target_purpose {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  border-radius: 1.25rem;
  padding: 1.25rem 2.5rem 1.25rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex: 1 1 0;
  min-width: 0;
  position: relative;
  box-shadow: inset 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
  overflow: hidden;
  backdrop-filter: blur(22.5px);
}
.notselected {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  border-radius: 1.25rem;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  border-image-slice: 1;
  padding: 12.6875rem 2.8125rem 12.6875rem 2.8125rem;
  display: flex;
  border: none;
  flex-direction: column;
  gap: 0.875rem;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 38.4375rem;
  position: relative;
  box-shadow: inset 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(22.5px);
}
.select {
  color: #ffffff;
  text-align: center;
  /* font */
  text-shadow: 0px 2px 10px rgba(89, 126, 219, 0.5);
  font-family: "Inter-Bold", sans-serif;
  font-size: 2.25rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.make {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  width: 39.5rem;
  display: flex;
  /* font */
  text-shadow: 0px 2px 10px rgba(89, 126, 219, 0.5);
  align-items: center;
  justify-content: center;
}
/* 대상 목적 */
.d {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.ds {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 2.25rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  width: 6.125rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dg {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 2.25rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  width: 21.875rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mj {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.o {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 2.25rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  width: 21.875rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
