.Team_container {
  display: flex;
  width: 100%;
  max-width: 85.25rem;
  height: 100%;
  max-height: 825px;
  gap: 1.25rem;
  box-sizing: border-box;
  margin: 0 auto;
}

.box {
  border-radius: 1.25rem;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5) inset;
  backdrop-filter: blur(22.5px);
  padding: 1.25rem;
  width: 100%;
  height: 100%;
}

/* Section1: 왼쪽 큰 박스 */
.Team_section1 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 100%;
  max-width: 56.25rem;
}

/* 위쪽 보드 박스 */
.team_board_box {
  position: relative;
  height: 37.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: height 0.4s ease; */
}

/* 아래쪽 카드 + 메시지 */
.Team_section1 > div:last-child {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  height: 12.8125rem;
}

.team_card_box {
  height: 100%;
  width: 100%;
  max-width: 19.375rem;
  min-width: 150px;
  max-height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team_message_box {
  height: 100%;
  width: 100%;
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Section2: 오른쪽 2개 박스 */
.Team_section2 {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 100%;
  max-width: 27.5rem;
}

.team_promise_box,
.team_list_box {
  transition: height 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.team_list_box {
  padding-left: 15px;
  padding-right: 10px;
}

/* 기본 높이 상태 */
.team_promise_box {
  height: 15.3125rem;
  overflow: hidden;
}

.team_list_box {
  height: 35rem;
}

/* 확장/축소 상태 */
.promExpanded {
  height: 37.5rem !important;
}
.listShrinked {
  height: 12.8125rem !important;
}

/* 전환용 fadeWrap */
.fadeWrap {
  width: 100%;
  height: 100%;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.show {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.hide {
  opacity: 0;
  transform: scale(0.97);
  pointer-events: none;
}

/* 게시판이 확장되었을 때 */
.box.team_board_box.promExpandedBoard {
  width: min(92.8vw, 85.625rem);
  min-width: 668px;
  height: 51.5625rem;
  position: fixed;
  top: 100;
  left: 500;
  z-index: 9999;
  padding: 20px;
}
