.notification,
.notification * {
  box-sizing: border-box;
}
.notification {
  background: linear-gradient(
    180deg,
    rgba(75, 82, 126, 0.2) 0%,
    rgba(75, 82, 126, 0.1) 100%
  );

  border-radius: 1.25rem;
  padding: 0.8125rem 1.1875rem 0.8125rem 1.1875rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* 0.5rem */
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 8.3125rem; /* 8.3125rem */
  position: relative;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 0.5625rem; /* 0.5625rem */
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.header {
  display: flex;
  flex-direction: row;
  gap: 0.8125rem; /* 0.8125rem */
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.iconWrapper {
  display: flex;
  width: 2.8125rem; /* 2.8125rem */
  height: 2.8125rem; /* 2.8125rem */
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  padding: 0;
}
.title {
  color: #252b5a;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.25rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  width: 14.5rem; /* 14.5rem */
}
.description {
  color: #252b5a;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  width: 20.1875rem; /* 20.1875rem */
  height: 2.75rem; /* 2.75rem */
}

/* 읽음 상태일 때 스타일 */
.read {
  background: linear-gradient(
    180deg,
    rgba(75, 82, 126, 0.5) 0%,
    rgba(75, 82, 126, 0.6) 100%
  );
}
