.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: linear-gradient(
    180deg,
    rgba(75, 82, 126, 0.2) 0%,
    rgba(75, 82, 126, 0.1) 100%
  );

  border-radius: 1.25rem;
  padding: 0.4375rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  height: 53.375rem;
  width: 24.375rem;
  position: relative;
}
.loginInfoWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 23.5rem;
  position: relative;
}
.loginInfoHeader {
  display: flex;
  flex-direction: row;
  gap: 0.6875rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.bellIconWrapper {
  background: linear-gradient(
    180deg,
    rgba(75, 82, 126, 0.2) 0%,
    rgba(75, 82, 126, 0.1) 100%
  );
  border-radius: 1.25rem;
  padding: 0.5625rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
  width: 4rem;
  height: 4rem;
  position: relative;
}

.bellIconWrapper:hover {
  background: #a4abd5;
  box-shadow: inset 0px 4px 20px rgba(75, 82, 126, 0.5);
  backdrop-filter: blur(22.5px);
}
.bellIconButton {
  display: flex;
  width: 2.8125rem;
  height: 2.8125rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  padding: 0;
}

.userInfoSection {
  background: linear-gradient(
    180deg,
    rgba(75, 82, 126, 0.2) 0%,
    rgba(75, 82, 126, 0.1) 100%
  );

  border-radius: 1.25rem;
  padding: 0.375rem 0.4375rem 0.375rem 0.4375rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  max-height: 771px;
  position: relative;
  box-shadow: inset 0px 4px 20px 0px rgba(75, 82, 126, 0.3);
  backdrop-filter: blur(22.5px);
}
.profileImgWrapper {
  flex-shrink: 0;
  width: 14.75rem;
  height: 14.75rem;
  position: relative;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  padding: 0;
}
.userInfoWrapper {
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 22.5625rem;
  max-height: 756px;
  position: relative;
  overflow: hidden;
}

.loginButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5625rem 0.75rem;
  border: none;
  border-radius: 1.25rem;
  background: linear-gradient(
    180deg,
    rgba(75, 82, 126, 0.2) 0%,
    rgba(75, 82, 126, 0.1) 100%
  );
  box-shadow: 0px 4px 20px 0px rgba(75, 82, 126, 0.3) inset;
  backdrop-filter: blur(22.5px);
  cursor: pointer;
  width: 11.3125rem;
  height: 4rem;
}

.loginButtonInner {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.loginButtonIcon {
  display: flex;
  width: 2.8125rem;
  height: 2.8125rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  padding: 0;
}

.loginButtonLabel {
  font-family: Inter, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  color: #252b5a;
  letter-spacing: -0.4px;
  line-height: 140%;
}

.userInfoContent,
.userInfoContent * {
  box-sizing: border-box;
}
.userInfoContent {
  padding: 0.625rem 0px 0.625rem 0px;
  display: flex;
  flex-direction: column;
  gap: 13.9375rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 19.4375rem;
  position: relative;
}
.userInfoDetails {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.profileImg {
  flex-shrink: 0;
  width: 7.9375rem;
  height: 7.9375rem;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.userName {
  color: #252b5a;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.25rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.userEmail {
  color: #252b5a;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.25rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.linkedAccountWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.linkedAccountInner {
  background: #ffffff;

  border-radius: 0.625rem;
  padding: 0.6875rem 5.5625rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 3.1875rem;
  position: relative;
  box-shadow: 2px 2px 10px 5px rgba(209, 209, 209, 0.5);
}
.linkedAccountContent {
  display: flex;
  flex-direction: row;
  gap: 0.875rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.linkedIcon {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.linkedStatusText {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.25rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
}
.logoutSection {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.logoutIcon {
  flex-shrink: 0;
  width: 1.5625rem;
  height: 1.5625rem;
  position: relative;
  overflow: visible;
  aspect-ratio: 1;
}
.logoutLabel {
  color: #252b5a;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.25rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
}

.kakaoLinked {
  background-color: #fee102;
}
