.notificationBoxWrapper,
.notificationBoxWrapper * {
  box-sizing: border-box;
}
.notificationBoxWrapper {
  background: linear-gradient(
    180deg,
    rgba(75, 82, 126, 0.2) 0%,
    rgba(75, 82, 126, 0.1) 100%
  );

  border-radius: 1.25rem;
  padding: 0.4375rem;

  display: flex;
  flex-direction: row;
  gap: 0.5rem; /* 0.5rem */
  align-items: flex-start;
  justify-content: flex-start;
  height: 53.375rem; /* 53.375rem */
  width: 24.375rem; /* 24.375rem */
  position: relative;
}
.notificationBoxContent {
  display: flex;
  flex-direction: column;
  gap: 0.25rem; /* 0.25rem */
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 23.5rem; /* 23.5rem */
  position: relative;
}
.notificationHeader {
  display: flex;
  flex-direction: row;
  gap: 0.6875rem; /* 0.6875rem */
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.profileIconWrapper {
  background: linear-gradient(
    180deg,
    rgba(75, 82, 126, 0.2) 0%,
    rgba(75, 82, 126, 0.1) 100%
  );

  border-radius: 1.25rem;
  padding: 0.5625rem;

  display: flex;
  flex-direction: row;
  gap: 0.5rem; /* 0.5rem */
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
  width: 4rem; /* 4rem */
  height: 4rem; /* 4rem */
  position: relative;
}
.profileIconWrapper:hover {
  background: #a4abd5;
  box-shadow: inset 0px 4px 20px rgba(75, 82, 126, 0.5);
  backdrop-filter: blur(22.5px);
}
.profileIcon {
  display: flex;
  width: 2.8125rem; /* 2.8125rem */
  height: 2.8125rem; /* 2.8125rem */
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  padding: 0;
}
.alertListWrapper {
  background: linear-gradient(
    180deg,
    rgba(75, 82, 126, 0.2) 0%,
    rgba(75, 82, 126, 0.1) 100%
  );

  border-radius: 1.25rem;
  padding: 0.375rem 0.4375rem 0.375rem 0.4375rem; /* 0.375rem 0.4375rem 0.375rem 0.4375rem */

  display: flex;
  flex-direction: row;
  gap: 0.5rem; /* 0.5rem */
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  max-height: 771px;
  position: relative;
  box-shadow: inset 0px 4px 20px 0px rgba(75, 82, 126, 0.3);
  backdrop-filter: blur(22.5px);
}
.alertItemWrapper {
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* 0.5rem */
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 22.5625rem; /* 22.5625rem */
  max-height: 756px;
  overflow-y: auto;
  position: relative;
}
/* 스크롤바 숨기기 */
.alertItemWrapper::-webkit-scrollbar {
  display: none;
}
.noNotifications {
  color: #252b5a; /* var(--font-color-70) */
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.25rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
}
