.Notification {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5625rem 0.75rem; /* 0.5625rem 0.75rem */
  border: none;
  border-radius: 1.25rem;
  background: linear-gradient(
    180deg,
    rgba(75, 82, 126, 0.2) 0%,
    rgba(75, 82, 126, 0.1) 100%
  );
  box-shadow: inset 0px 4px 20px rgba(75, 82, 126, 0.3);
  backdrop-filter: blur(22.5px);
  cursor: pointer;
  width: 7.6875rem; /* 7.6875rem */
  height: 4rem; /* 4rem */
}

.Notification_inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem; /* 0.5rem */
}

.Notification_icon {
  width: 2.8125rem; /* 2.8125rem */
  height: 2.8125rem; /* 2.8125rem */
  padding: 0.5rem; /* 0.5rem */
  display: flex;
  align-items: center;

  gap: 0.5rem;

  border-radius: 1.40625rem;

  background: #fff;
}

.Notification_label {
  font-family: Inter, sans-serif;
  font-size: 1.25rem; /* 1.25rem */
  font-weight: 600;
  color: #252b5a;
  letter-spacing: -0.4px;
  line-height: 140%;
}
