.CardModal,
.CardModal * {
  box-sizing: border-box;
}

.CardModal {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.8) 100%
  );
  border-radius: 1.25rem;
  padding: 1.6875rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: center;
  height: 46.875rem;
  box-shadow: inset 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
  overflow: hidden;
  backdrop-filter: blur(22.5px);
}

.Title_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 6.25rem;
  position: relative;
}

.Title {
  padding: 0px 0.625rem 0px 0.625rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: flex-end;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.Main_title {
  color: #4b527e;
  font-family: "Inter-Bold", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
}

.Sub_title {
  color: #4b527e;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.02em;
  width: 8.875rem;
  display: flex;
  align-items: center;
}

.Line {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  width: 100%;
  max-width: 62.625rem;
  height: auto;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.Card_body {
  display: flex;
  flex-direction: row;
  gap: 1.5625rem;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 31.6875rem;
  position: relative;
  overflow: hidden;
}

.Card {
  background: #afcdff;
  border-radius: 1.25rem;
  padding: 1.0625rem 0.8125rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 15.9375rem;
  height: 23.125rem;
  box-shadow: inset 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(22.5px);
}

.Card_Name {
  color: #4b527e;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.5rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  width: 14rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Image_wrapper {
  background-color: #ffffff;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 14.25rem;
  position: relative;
  overflow: visible;
}

.Arrow_button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.left_right {
  flex-shrink: 0;
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  overflow: hidden;
}

.Card_image {
  width: 9.375rem;
  height: 9.375rem;
}

.Info_text {
  color: #4b527e;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 1.25rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.Write_body {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  overflow: hidden;
}

.InputUnderline {
  background: transparent;
  border: none;
  border-bottom: 3px solid #7b83b1;
  outline: none;
  font-size: 1.125rem;
  padding: 0.25rem 0;
  width: 100%;

  color: #4b527e;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
}

.InputUnderline::placeholder {
  color: #a4abd5;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.25rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Row1 {
  padding: 0.375rem 0px 0.375rem 0px;
  display: flex;
  flex-direction: row;
  gap: 1.875rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.Row2 {
  width: 100%;
  max-width: 41.875rem;
}

.Col {
  width: 100%;
  max-width: 20rem;
}

.ErrorMessageWrapper {
  position: relative;
  padding-top: 20px;
}

.ErrorMessage {
  position: absolute;
  width: 100%;
  bottom: 80px;
  color: red;
  padding: 0.25rem 0.5rem;
  z-index: 10;
  text-align: center;
  font-weight: bold;
  pointer-events: none;
}

.Confirm_buttons {
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 25.9375rem;
  position: relative;
}

.Overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(75, 82, 126, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
