.overlay {
  position: fixed;
  inset: 0; /* top: 0; right: 0; bottom: 0; left: 0; */
  background-color: rgba(0, 0, 0, 0.4); /* 반투명 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.AlertDialog {
  background: #ffffff;
  border-radius: 1.25rem;
  padding: 2.1875rem 12rem;
  display: flex;
  flex-direction: column;
  gap: 1.8125rem;
  align-items: center;
  justify-content: center;
  width: 50rem;
  height: 28.125rem;
  position: relative;
  overflow: hidden;
}

.Alert_dialog_img {
  width: 11.625rem;
  height: 11.625rem;
}

.Text_contanier {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.Main {
  color: #252b5a;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 2.25rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Confirm_buttons {
  display: flex;
  flex-direction: row;
  gap: 0.9375rem;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
