.alert,
.alert * {
  box-sizing: border-box;
}
.alert {
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 29px;
  align-items: center;
  justify-content: center;
  height: 450px;
  position: relative;
  overflow: hidden;
  width: 800px;
  height: 450px;
  position: fixed;
  top: 0;
  left: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 페이지보다 위에 */
}
.button_body {
  background: #fee102;
  border-radius: 93px;
  padding: 46px 84px 46px 84px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 186px;
  height: 186px;
  position: relative;
}

.mark {
  flex-shrink: 0;
  width: 18px;
  height: 92px;
  position: static;
}
.q_1 {
  background: var(--netural-white, #ffffff);
  width: 18px;
  height: 57px;
  position: absolute;
  left: 84px;
  top: 47px;
}
.q_2 {
  background: var(--netural-white, #ffffff);
  width: 18px;
  height: 18px;
  position: absolute;
  left: 84px;
  top: 121px;
}
.have_to {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.button_text {
  color: var(--font-color-70, #252b5a);
  text-align: center;
  font-family: var(--subtitle1-bold-36px-font-family, "Inter-Bold", sans-serif);
  font-size: var(--subtitle1-bold-36px-font-size, 36px);
  line-height: var(--subtitle1-bold-36px-line-height, 140%);
  letter-spacing: var(--subtitle1-bold-36px-letter-spacing, -0.02em);
  font-weight: var(--subtitle1-bold-36px-font-weight, 700);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_button {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.button {
  background: var(--netural-white, #ffffff);
  border-radius: 20px;
  border-style: solid;
  border-color: var(--font-color-50, #4b527e);
  border-width: 1px;
  padding: 11px 142px 11px 142px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 200px;
  height: 50px;
  position: relative;
}
.div3 {
  color: var(--font-color-50, #4b527e);
  text-align: center;
  font-family: var(--body2-bold-20px-font-family, "Inter-Bold", sans-serif);
  font-size: var(--body2-bold-20px-font-size, 20px);
  line-height: var(--body2-bold-20px-line-height, 140%);
  letter-spacing: var(--body2-bold-20px-letter-spacing, -0.02em);
  font-weight: var(--body2-bold-20px-font-weight, 700);
  position: relative;
}
