/* .container {
  width: 350px;
  height: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 20px;
}

.wrapper {
  width: 300px;
  height: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 16px;
  padding: 12px;
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.month {
  color: var(--Font-Color-50, #4b527e);
  text-align: center;

  /* Body2/SemiBold/20px */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 28px */
  letter-spacing: -0.4px;
}

.arrow {
  background: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  color: var(--Font-Color-50, #4b527e);
  justify-content: center;
}

.arrow:hover {
  background-color: rgba(102, 126, 234, 0.15);
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* gap: 2px; */
  flex-grow: 1;
}

.weekday {
  height: 20px;
  font-size: 12px;
  font-weight: 600;
  color: #4b527e;
  text-align: center;
  line-height: 20px;
}

.day {
  border: 1px solid #4b527e;

  text-align: center;
  line-height: 28px;

  color: #4b527e;

  /* Body3/SemiBold/16px */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.32px;

  cursor: pointer;
  transition: all 0.2s ease;
}

.day:hover {
  background-color: rgba(102, 126, 234, 0.15);
}

.selected {
  background-color: rgba(102, 126, 234, 0.35);
}

.inactive {
  color: #7b83b1;
  opacity: 0.6;
  cursor: default;

  text-align: center;

  /* Body3/SemiBold/16px */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.32px;
}

.inactive:hover {
  background-color: rgba(102, 126, 234, 0);
}
