.Dropdown,
.Dropdown * {
  box-sizing: border-box;
}

.Dropdown {
  position: relative;
  width: 100%;
  max-width: 13.375rem;
  height: 1.875rem;
  display: flex;
  flex-direction: row;
  gap: 0.4375rem;
  row-gap: 6px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  position: relative;
  background: transparent;
  border: none;
  border-bottom: 3px solid #7b83b1;
  outline: none;
}

.Input {
  position: relative;
  flex: 1;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Placeholder {
  color: #a4abd5;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-size: 1.25rem;
  font-weight: 700;
}

.SelectedText {
  color: #4b527e;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-size: 1.25rem;
  font-weight: 700;
}

.Dropdown_button {
  border-radius: 0px;
  flex-shrink: 0;
  width: 1.3125rem;
  height: 1.25rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.Rotate {
  transform: rotate(180deg);
}

.Option_wrapper {
  background: #ffffff;
  border-radius: 1.25rem;
  padding: 0.625rem;
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 13.375rem;
  position: absolute;
  top: 40px;
  z-index: 10;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  max-height: 201px;
  overflow-y: auto;
}

/* 스크롤바 전체 영역 */
.Option_wrapper::-webkit-scrollbar {
  width: 1.125rem;
}

/* 스크롤바 막대 (thumb) */
.Option_wrapper::-webkit-scrollbar-thumb {
  background-color: #7b83b1;
  border-radius: 3.125rem;
  border: 6px solid transparent;
  background-clip: content-box;
}

/* 스크롤바 트랙 (막대가 움직이는 배경) */
.Option_wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.Option_wrapper::-webkit-scrollbar-button:vertical:start:decrement,
.Option_wrapper::-webkit-scrollbar-button:vertical:end:increment {
  display: block;
  height: 0.625rem;
  background: transparent;
}

.Option {
  padding: 0.125rem 0px 0.125rem 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  height: 1.625rem;

  color: #4b527e;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
}

.Option:hover {
  background-color: rgba(164, 171, 213, 0.3);
  padding-left: 5px;
}

/* 드롭다운 긴 버전(CardModal) */
.Dropdown_long {
  width: 100%;
  max-width: 20rem;
  height: 2.3rem;
}

.Option_wrapper_long {
  width: 100%;
  max-width: 20rem;
}

.Disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: auto !important;
}
