.Receiced-letter,
.Receiced-letter * {
  box-sizing: border-box;
}

.Receiced-letter {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.6) 100%
  );
  border-radius: 20px;
  padding: 15px 7px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 150px;
  height: 150px;
  position: relative;
  box-shadow: inset 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(22.5px);
}

.Envelope-wrapper {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.Envelope-logo {
  width: 100px;
  height: auto;
}

.Unread {
  position: absolute;
  top: 20px; /* envelope 아이콘 상단에서 4px 아래 */
  right: 20px; /* envelope 아이콘 오른쪽에서 4px 안쪽 */
  width: 7px; /* 빨간 점 크기 */
  height: 7px;
  background-color: #ff4f49; /* 빨간색 */
  border-radius: 50%; /* 둥근 원 */
}

.From {
  color: #4b527e;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
