.Balance,
.Balance * {
  box-sizing: border-box;
}
.Balance {
  background: #e4f0ff;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  width: 183px;
  height: 210px;
  position: relative;
  overflow: hidden;
}

.Balance_tools {
  display: flex;
  flex-direction: row;
  gap: 36px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  height: 25px;
  padding-right: 10px;
  position: relative;
  overflow: hidden;
}

.Balance_delete_img {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  position: relative;
  overflow: visible;
  cursor: pointer;
}

.Balance_line_img {
  width: 160px;
}

.Button_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.Blance_button {
  background: transparent;
  border: none;
  width: 150px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.Balance_button_img {
  width: 150px;
  height: 70px;
}

.Balance_count {
  position: absolute;
  top: 12px;
  left: 15px;
  background: #ffffff;
  border-radius: 50%;
  width: 18px;
  height: 18px;

  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.one {
  color: #597edb;
}

.two {
  color: #ff4f49;
}

.Balance_text {
  color: #252b5a;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
}

.Balance_vs_img {
  width: 140px;
  height: 15px;
}
