.Balance,
.Balance * {
  box-sizing: border-box;
}
.Balance {
  background: #e4f0ff;
  border-radius: 1.25rem;
  padding: 0.625rem;
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
  align-items: center;
  justify-content: flex-start;
  width: 11.4375rem;
  height: 13.125rem;
  position: relative;
  overflow: hidden;
}

.Balance_tools {
  display: flex;
  flex-direction: row;
  gap: 2.25rem;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  height: 1.5625rem;
  padding-right: 10px;
  position: relative;
  overflow: hidden;
}

.Balance_delete_img {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 0.9375rem;
  height: 0.9375rem;
  position: relative;
  overflow: visible;
  cursor: pointer;
}

.Balance_line_img {
  width: 10rem;
}

.Button_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.Balance_button {
  background: transparent;
  border: none;
  width: 10rem;
  height: 4.375rem;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.Balance_button_img {
  width: 100%;
  height: 4.375rem;
}

.Balance_count {
  position: absolute;
  top: 8px;
  left: 12px;
  background: #ffffff;
  border-radius: 50%;
  width: 1.125rem;
  height: 1.125rem;

  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 0.75rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.one {
  color: #597edb;
}

.two {
  color: #ff4f49;
}

.Balance_text {
  color: #252b5a;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.0625rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
}

.Balance_vs_img {
  width: 8.75rem;
  height: 0.9375rem;
}

.Selected {
  border: 3px solid #ffc107;
  transition: border 0.3s ease;
}
