.Memo,
.Memo * {
  box-sizing: border-box;
}
.Memo {
  background: #e4f0ff;
  border-radius: 1.25rem;
  padding: 0.3125rem 0.625rem;
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  align-items: center;
  justify-content: flex-start;
  width: 11.4375rem;
  height: 13.125rem;
  position: relative;
  overflow: hidden;
}

.Memo_tools {
  padding: 0px 0.625rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 1.875rem;
  position: relative;
  overflow: hidden;
}

.MemoLike_wrapper {
  display: flex;
  align-items: center; /* 세로 가운데 정렬 */
  gap: 0.3125rem;
}

.MemoLike_container {
  width: 4.75rem;
}

.Memo_like_img {
  width: 1rem;
  height: 0.9375rem;
  position: relative;
  cursor: pointer;
}

.edit_delete {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 0.9375rem;
  position: relative;
  overflow: visible;
}

.Memo_edit_img {
  width: 0.9375rem;
  height: 0.9375rem;
  position: relative;
  cursor: pointer;
}

.Memo_delete_img {
  width: 0.9375rem;
  height: 0.9375rem;
  position: relative;
  cursor: pointer;
}

.Memo_line_img {
  width: 10rem;
}

.Memo_text {
  white-space: pre-wrap;
  width: 100%;

  color: #4b527e;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 0.75rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
}
