.MemoLike,
.MemoLike * {
  box-sizing: border-box;
}
.MemoLike {
  background: white;
  border-radius: 50%;
  width: 1.875rem;
  height: 1.875rem;
  position: relative;
  display: flex;
  align-items: center;
}

.Animal_image {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  object-fit: cover;
  cursor: default;
  background: white;
  position: relative;
}
