.MemoEdit,
.MemoEdit * {
  box-sizing: border-box;
}
.MemoEdit {
  background: #e4f0ff;
  border-radius: 1.25rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
  width: 11.4375rem;
  height: 13.125rem;
  position: relative;
  overflow: hidden;
}

.Memo_area {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  color: #4b527e;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 0.75rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
}

.Memo_area::placeholder {
  color: #d1d1d1;
}

.Memo_tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 100%;
  height: 0.875rem;
  position: relative;
}

.Counter {
  color: #7b83b1;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 0.75rem;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  height: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Memo_save_btn {
  background: transparent;
  border: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0;
  margin: 0;
}

.Memo_save_img {
  position: relative;
  width: 0.75rem;
  height: 0.875rem;
  cursor: pointer;
}

.Overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1.25rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(75, 82, 126, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
}
