.AlertDialog,
.AlertDialog * {
  box-sizing: border-box;
}
.AlertDialog {
  background: #ffffff;
  border-radius: 20px;
  padding: 35px 192px 35px 192px;
  display: flex;
  flex-direction: column;
  gap: 29px;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 450px;
  position: relative;
  overflow: hidden;
}

.Alert_dialog_img {
  width: 186px;
  height: 186px;
}

.Text_contanier {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.Main {
  color: #252b5a;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 36px;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Sub {
  color: #252b5a;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.02em;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Confirm_buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.Overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(75, 82, 126, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
