.info_black_background {
  position: fixed; /* 화면에 고정 */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: #4b527e50;
  opacity: 1;
  z-index: 999; /* 팝업보다 아래, 다른 요소보다 위 */

  display: flex;
  align-items: center;
  justify-content: center;
}

.info_popup_space {
  width: 50rem; /* 800px */
  height: 28.125rem; /* 450px */
  flex-shrink: 0;
  border-radius: 1.25rem; /* 20px */
  background: #fff;

  padding: 0 6.875rem; /* 0 110px */

  /* 글래스모피즘 종합 */
  box-shadow: 0 0 1.25rem 0 rgba(255, 255, 255, 0.5) inset; /* 0 0 20px */
  backdrop-filter: blur(1.40625rem); /* 22.5px */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.875rem; /* 30px */
}

.info_text_space {
  color: var(--Font-Color-70, #252b5a);
  text-align: center;

  /* Subtitle1/Bold/36px */
  font-family: Inter;
  font-size: 2.25rem; /* 36px */
  font-style: normal;
  font-weight: 700;
  line-height: 1.4; /* 50.4px */
  letter-spacing: -0.045rem; /* -0.72px */
}

.info_select_space {
  width: 100%;
  height: 10rem; /* 160px */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.25rem; /* 20px */
  padding: 1.875rem 4.375rem; /* 30px 70px */
  gap: 0.625rem; /* 10px */

  border-radius: 1.25rem; /* 20px */
  border: 0.15625rem solid var(--Font-Color-50, #4b527e); /* 2.5px */
  background: var(
    --,
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.2) 100%
    )
  );

  /* 글래스모피즘 종합 */
  box-shadow: 0 0 1.25rem 0 rgba(255, 255, 255, 0.5) inset;
  backdrop-filter: blur(1.40625rem);
}

.info_mid_size_text_space {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem; /* 25px */
}

.info_mid_size_text {
  width: 9.375rem; /* 150px */

  color: var(--Font-Color-50, #4b527e);
  font-family: Inter;
  font-size: 1.5rem; /* 24px */
  font-style: normal;
  font-weight: 700;
  line-height: 1.4; /* 33.6px */
  letter-spacing: -0.03rem; /* -0.48px */
}

/* .info-select-drop-box {
  margin-bottom: 0.125rem; 2px
} */

.info_popup_button_space {
  width: 35.625rem; /* 570px */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.9375rem; /* 15px */
}

/* 세로 구분선 */
.info_popup_v_line {
  width: 0.1875rem; /* 3px */
  height: 5.9375rem; /* 95px */
  border-radius: 3.125rem; /* 50px */
  background-color: var(--Font-Color-40, #7b83b1);
  align-self: center;
}

.info_test_text {
  width: 100%;
  min-width: 12.5rem; /* 200px */
  height: 2.1875rem; /* 35px */
  /* margin-left: 1.875rem; 30px */

  color: var(--Font-Color-50, #4b527e);

  /* Body2/Bold/24px */
  font-family: Inter;
  font-size: 1.5rem; /* 24px */
  font-style: normal;
  font-weight: 700;
  line-height: 1.4; /* 28px */
  letter-spacing: -0.025rem; /* -0.4px */

  text-align: end;

  /* ✅ 하단 경계선만 */
  /* border-bottom: 0.1875rem solid #7b83b1; 3px */
}
