.info_black_background {
  position: fixed; /* 화면에 고정 */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: #4b527e50;
  opacity: 1;
  z-index: 999; /* 팝업보다 아래, 다른 요소보다 위 */

  display: flex;
  align-items: center;
  justify-content: center;
}

.info_popup_space {
  width: 50rem;
  height: 28.125rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  background: #fff;

  padding: 0 6.875rem;

  /* 글래스모피즘 종합 */
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5) inset;
  backdrop-filter: blur(22.5px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
}

.info_text_space {
  color: var(--Font-Color-70, #252b5a);
  text-align: center;

  /* Subtitle1/Bold/36px */
  font-family: Inter;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 50.4px */
  letter-spacing: -0.72px;
}

.info_select_space {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 1.875rem 4.375rem;
  gap: 0.3125rem;

  border-radius: 1.25rem;
  border: 2.5px solid var(--Font-Color-50, #4b527e);
  /* background: var(
    --,
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.2) 100%
    )
  ); */

  /* 글래스모피즘 종합 */
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5) inset;
  backdrop-filter: blur(22.5px);
}

.info_mid_size_text_space {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
}

.info_mid_size_text {
  width: 9.375rem;

  color: var(--Font-Color-50, #4b527e);
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 33.6px */
  letter-spacing: -0.48px;
}

/* .info-select-drop-box {
  margin-bottom: 2px;
} */

.info_popup_button_space {
  width: 35.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.9375rem;
}
/* . 
.
.
. */

/* 세로 구분선 */
.info_popup_v_line {
  width: 0.2rem;
  height: 5.9375rem;
  border-radius: 3.125rem;
  background-color: var(--Font-Color-40, #7b83b1);
  align-self: center;
}

.info_test_text {
  width: 100%;
  min-width: 12.5rem;
  height: 2.1875rem;
  /* margin-left: 30px; */

  color: var(--Font-Color-50, #4b527e);

  /* Body2/Bold/24px */
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 28px */
  letter-spacing: -0.4px;

  text-align: end;

  /* ✅ 하단 경계선만 */
  /* border-bottom: 3px solid #7b83b1; */
}
