.black_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: #4b527e50;
  opacity: 1;
  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: center;
}

.popup_space {
  width: 50rem; /* 800px */
  height: 28.125rem; /* 450px */
  flex-shrink: 0;
  border-radius: 1.25rem; /* 20px */
  background: #fff;

  padding: 0 6.875rem; /* 0 110px */

  box-shadow: 0 0 1.25rem 0 rgba(255, 255, 255, 0.5) inset; /* 0 0 20px */
  backdrop-filter: blur(1.40625rem); /* 22.5px */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem; /* 20px */
}

.text_space {
  color: var(--Font-Color-70, #252b5a);
  text-align: center;

  font-family: Inter;
  font-size: 2.25rem; /* 36px */
  font-style: normal; /* font-style: bold는 유효하지 않아 normal로 수정 */
  font-weight: 700;
  line-height: 1.4; /* 50.4px */
  letter-spacing: -0.045rem; /* -0.72px */
}

.select_space {
  width: 100%;
  height: 10rem; /* 160px */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.875rem; /* 30px */
  gap: 1.25rem; /* 20px */

  border-radius: 1.25rem; /* 20px */
  border: 0.15625rem solid var(--Font-Color-50, #4b527e); /* 2.5px */
  background: var(
    --,
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.2) 100%
    )
  );

  box-shadow: 0 0 1.25rem 0 rgba(255, 255, 255, 0.5) inset;
  backdrop-filter: blur(1.40625rem);
}

.mid_size_text_space {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem; /* 25px */
}

.mid_size_2_space {
  display: flex;
  overflow: visible;
  position: relative;
  flex-direction: column;
  gap: 1.3125rem; /* 21px */

  width: 15rem; /* 240px */
  margin-left: 1.875rem; /* 30px */
}

.mid_size_text {
  width: 6.25rem; /* 100px */

  color: var(--Font-Color-50, #4b527e);
  font-family: Inter;
  font-size: 1.5rem; /* 24px */
  font-style: normal;
  font-weight: 700;
  line-height: 1.4; /* 33.6px */
  letter-spacing: -0.03rem; /* -0.48px */
}

.select_drop_box {
  margin-bottom: 0.125rem; /* 2px */
}

.section_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem; /* 20px */
}

.popup_info_text {
  color: var(--Red-Default, #ff4f49);
  text-align: center;

  font-family: Inter;
  font-size: 1rem; /* 16px */
  font-style: normal;
  font-weight: 700;
  line-height: 1.4; /* 22.4px */
  letter-spacing: -0.02rem; /* -0.32px */

  padding-top: 0.3125rem; /* 5px */
}

.popup_button_space {
  width: 35.625rem; /* 570px */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem; /* 20px */
}

/* 세로 구분선 */
.popup_v_line {
  width: 0.1875rem; /* 3px */
  height: 5.9375rem; /* 95px */
  border-radius: 3.125rem; /* 50px */
  background-color: var(--Font-Color-40, #7b83b1);
  align-self: center;
}
