.popup_basic_space {
  position: fixed; /* 화면에 고정 */
  top: 1.25rem; /* 20px */
  left: 50%; /* 가로 가운데 정렬 */
  transform: translateX(-50%); /* 수평 가운데 정렬 */

  z-index: 999; /* 충분히 위에 보이게 */

  width: 34.375rem; /* 550px */
  height: 11.25rem; /* 180px */
  flex-shrink: 0;
  border-radius: 1.25rem; /* 20px */
  background: #fff;

  padding: 1.875rem 5rem; /* 30px 80px */

  /* 글래스모피즘 종합 */
  box-shadow: 0 0 1.25rem 0 rgba(255, 255, 255, 0.5) inset; /* 0 0 20px */
  backdrop-filter: blur(1.40625rem); /* 22.5px */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5625rem; /* 25px */
}

.popup_basic_text_space {
  color: var(--Font-Color-70, #252b5a);
  text-align: center;

  font-family: Inter;
  font-size: 1.875rem; /* 30px */
  font-style: normal;
  font-weight: 700;
  line-height: 1.4; /* 42px */
  letter-spacing: -0.0375rem; /* -0.6px */
}

.popup_basic_button_space {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* . */
/* . */
/* . */

.test_text {
  width: 100%;
  min-width: 14.375rem; /* 230px */
  height: 2.1875rem; /* 35px */
  margin-left: 1.875rem; /* 30px */

  color: var(--Font-Color-50, #4b527e);

  /* Body2/Bold/20px */
  font-family: Inter;
  font-size: 1.25rem; /* 20px */
  font-style: normal;
  font-weight: 700;
  line-height: 1.4; /* 28px */
  letter-spacing: -0.025rem; /* -0.4px */

  /* 하단 경계선만 */
  border-bottom: 0.1875rem solid #7b83b1; /* 3px */
}
