html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 744px;
  user-select: none;
  box-sizing: border-box; /* 안전하게 추가 */
  overflow-x: hidden; /* 가로 스크롤 방지 */
}

*,
*::before,
*::after {
  box-sizing: inherit; /* 상속 */
}

.App-background {
  background: linear-gradient(
    120.88deg,
    rgba(118, 140, 240, 1) 0%,
    rgba(148, 188, 240, 1) 23.47%,
    rgba(181, 208, 253, 1) 57.38%,
    rgba(222, 222, 246, 1) 86.25%
  );
}

.App-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100vw; /* 100% 대신 100vw 권장, 정확한 뷰포트 너비 */
  min-height: 100vh;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  padding-left: max(3.125rem, 200px);
  padding-right: max(3.125rem, 200px);
}
